/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

GridPane {
	-fx-alignment: center;
	-fx-grid-lines-visible: true;
}

#gp_score {
	-fx-alignment: center-left;
	-fx-grid-lines-visible: false;
}

Label {
	-fx-border-width: 0.0px;
	-fx-text-fill:white ;
}

Text {
	-fx-fill:white ;
}

AnchorPane {
	-fx-background-color: #696969 ;
}
	
TextArea {
	-fx-control-inner-background:#000000; 
	-fx-font-family: Consolas; 
	-fx-highlight-fill: #00ff00; 
	-fx-highlight-text-fill: #000000; 
	-fx-text-fill: #00ff00;
}
 
ListView {
	-fx-control-inner-background:#000000; 
}

.items {
	-fx-control-inner-background:#000000; 
	-fx-font-family: Consolas; 
	-fx-text-fill: #00ff00;
}

Cell {
	-fx-skin:null;
}
 
 
.stage {
  -fx-border-insets: 23;
  -fx-background-insets: 23;
  -fx-background-radius: 6;
  -fx-border-radius: 6;
  -fx-border-color: gray;
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}